<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UserDB</title>
    <link rel="stylesheet" href="Css/tableau.css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
</head>
<body>
    <!-- Editable table -->
<div class="card">
    <h3 class="card-header text-center font-weight-bold text-uppercase py-4">Editable table</h3>
    <div class="card-body">
     
        <table class="table table-bordered table-responsive-md table-striped text-center">
          <thead>
            <tr>
              <th class="text-center">Person Name</th>
              <th class="text-center">Facebook Page</th>
              <th class="text-center">Instagram Page</th>
              <th class="text-center">Montant a Payer</th>
              <th class="text-center">Remove</th>
              <th class="text-center">Edit</th>
              
            </tr>
          </thead>
          <tbody>
         <%   foundItems.forEach(foundItem=> { %>

          <tr>
<form action="/<%= foundItem._id %>" method="post">
            <td class="pt-3-half" contenteditable="true"><%= foundItem.name %> </td>
            <td class="pt-3-half" contenteditable="true"><%= foundItem.facebook_page %></td>
            <td class="pt-3-half" contenteditable="true"><%= foundItem.instagram_page %></td>
            <td class="pt-3-half" contenteditable="true"><%= foundItem.montant %></td>
           
            
            <td>
              <span class="table-remove"><button type="submit"
                  class="btn btn-danger btn-rounded btn-sm my-0">Remove</button></span>
            </td>
            <td><a href="/edit/<%= foundItem._id %>"><button type="button" class="btn btn-info">Edit Client</button></a></td>
          </tr>
        
        </form>

           <% }) %>  

           <tr>
            <form action="/addClient" method="post">
        
           
              <td class="pt-3-half" contenteditable="true"><input type="text" name="username"></td>
              <td class="pt-3-half" contenteditable="true"><input type="text" name="facebookPage"></td>
              <td class="pt-3-half" contenteditable="true"><input type="text" name="instagramPage"></td>
              <td class="pt-3-half" contenteditable="true"><input type="text" name="montantRestant"></td>
              <td class="pt-3-half" contenteditable="true"><button  class="btn btn-success btn-rounded" type="submit">add New Client</button></td>
              
            </form>
          </tr>
           
          </tbody>

        </table>
       

    </div>
  </div>
  <!-- Editable table -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js" integrity="sha384-1CmrxMRARb6aLqgBO7yyAxTOQE2AKb9GfXnEo760AUcUmFx3ibVJJAzGytlQcNXd" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  <script src="Js/tableau.js"></script>
</body>
</html>